<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
        rel=""
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        />
        <link rel="stylesheet" href="/css/styles.css" />
        <script src="/src/showHideEditTVHDForm.js" defer></script>
        <title>Document</title>
    </head>
    <body>
        <div class="container">
            <div>ID: <%=detail.mahoidong%></div>
            <div>
                Ngay thanh lap: <%=
                moment(detail.ngaythanhlap).format('MM/DD/YYYY'); %>
            </div>
            <div>Nhiem vu: <%=detail.nhiemvu%></div>
            <div>
                Trang thai: <%=(detail.trangthai == '1'?'Đang trong nhiệm kỳ':
                'Đã kết thúc nhiệm kỳ')%>
            </div>
        </div>
        
        

<!-- bang thong tin thanh vien -->
        <div>
            <table >
                <tr>
                    <th>ID</th>
                    <th>Nhan Vien ID</th>
                    <th>Ten Nhan Vien</th>
                    <th>Chuc Vu</th>
                </tr>
                <% for(let i=0;i<allThanhVien.length;i++){ %>
                <tr >
                    <td><%=allThanhVien[i].mathanhvien%></td>
                    <td><%=allThanhVien[i].manhanvien%></td>
                    <td><%=allThanhVien[i].tennhanvien%></td>
                    <td><%=allThanhVien[i].tenchucvuhd%></td>
                    <%if(detail.trangthai===1){%>
                    <td><button onclick="showEditThanhVienHDForm('<%=allThanhVien[i].manhanvien%>','<%=allThanhVien[i].mathanhvien%>')">edit</button></td>
                    <%}%>
                </tr>
                <%}%>
            </table>
        </div>

        <!-- form sua thong tin giam khao -->
        <div class="edit-thanhvienhd-form" >
            <form action="/edit-thanhvien-hd" method="post" >
               
                <div>
                    <label for="id">ID Thanh Vien</label>
                    <input
                    class="input-edit-thanhVienHDId"
                    type="text"
                    name="idHDKH"
                    placeholder="ID thanh vien"
                    required
                    readonly
                />
                </div>
                <div>
                    <label for="id">ID Nhân Viên</label>
                    <input
                        class="input-edit-nhanVienId"
                        type="text"
                        name="idNhanVien"
                        placeholder="ID nhân viên"
                        required
                    />
                </div>
                <div>
                    <label for="chucVuHD">Chức vụ</label>
                    <select name="idChucVu">
                        <% for(let i=0;i<allChucVu.length;i++){ %>
                            <option value="<%=allChucVu[i].machucvuhd%>"><%=allChucVu[i].tenchucvuhd%></option>
                        <%}%>
                    </select>
                </div>
                <div><button type="submit">Save</button></div>
            </form>
        </div>
<!-- them thanh vien -->
<% if(detail.trangthai===1){%>
    <button onclick="showCreateThanhVienHDForm()">Thêm thành viên hội đồng</button>
    <% }%>
        <div class="create-thanhvienhd-form">
            <div>Thêm thành viên</div>
            <form action="/create-thanhvien-hd" method="post">
                <input type="text" hidden value="<%=detail.mahoidong%>" name="idHDKH" />
                <div>
                    <label for="id">ID Nhân Viên</label>
                    <input
                        type="text"
                        name="idNhanVien"
                        placeholder="ID nhân viên"
                        required
                    />
                </div>
                <div>
                    <label for="chucVuHD">Chức vụ</label>
                    <select name="idChucVu">
                        <% for(let i=0;i<allChucVu.length;i++){ %>
                            <option value="<%=allChucVu[i].machucvuhd%>"><%=allChucVu[i].tenchucvuhd%></option>
                        <%}%>
                    </select>
                </div>
    
                <button type="submit">Add</button>
            </form>
        </div>
    </body>
</html>
