<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        />
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        ></script>
        <script defer src="/src/refreshNotifySuaDiem.js"></script>

        <link rel="stylesheet" href="/css/styles.css"/>
        <title>Chấm Điểm Sáng Kiến</title>
    </head>
    <body class="mycolor-gray">
        
        <% if(typeof(alert)!== 'undefined' && alert==='suadiemthanhcong' ){%>
            <div
                class="alert alert-success alert-dismissible position-absolute"
                style="z-index: 1"
            >
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                ></button>
                <strong>Success!</strong> Cập nhật điểm sáng kiến thành công
            </div>
            <%}%>
        <% if(typeof(alert)!== 'undefined' && alert==='nhanxetthanhcong' ){%>
            <div
                class="alert alert-success alert-dismissible position-absolute"
                style="z-index: 1"
            >
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                ></button>
                <strong>Success!</strong> Cập nhật nhận xét sáng kiến thành công
            </div>
            <%}%>
        <%- include('navAndSidebar.ejs') -%>
        <div class="container-fluid row pe-0">
            <div class=" col-lg-3 border-1 bg-black text-white  mt-3 ">
                <h4 class="text-center col-sm-12 me-3">Người tham gia sáng kiến</h4>
                <% for(let i=0;i<nguoiThamGia.length;i++){%>
                    <div>
                        <div> Mã nhân viên: <%= nguoiThamGia[i].manhanvien%></div>
                        <div> Tên nhân viên: <%= nguoiThamGia[i].tennhanvien%></div>
                        <div> Vai trò: <%= (nguoiThamGia[i].vaitro===0?'Người tham gia':'Chủ trì')%></div> 
                    </div>
                    <br>
                <%}%>
            </div>
            <div class="col-sm-1 m-3"></div>
            <div class="col-sm-8 bg-black mt-3 text-white w-auto px-3" >
                <h4 class="text-center col-12">Sáng kiến</h4>
                <div class="col-12">Tên sáng kiến: <%=detailSangKien.tensangkien%></div><br>
                <div class="col-12">Tóm tắt mục tiêu sáng kiến: <%=detailSangKien.muctieu%></div><br>
                <div class="col-12">Tóm tắt nội dung sáng kiến: <%=detailSangKien.noidung%></div><br>
                <div class="col-12">Đánh giá lợi ích thu được: <%=detailSangKien.loiich%></div><br>
                <div class="col-12">File chi tiết đính kèm:    <a href="/download/file?filename=<%=detailSangKien.dinhkem%>" target="_blank">Xem file đính kèm</a></div>
                <br>
            </div>
        </div>
        <%if(typeof showDiemDaCham ==='undefined' ){%>
            <div class="container-fluid row text-center ">
                <h4 class="text-white">Chấm điểm</h4>
                <form action="/create-chitiet-chamdiem" method="post" class="row">
                    <input type="text" value="<%=detailSangKien.masangkien%>"  class="form-control" name="sangKienId" hidden>
                    <input type="text" value="<%=thanhVienHDDaDangNhap.mathanhvien%>" class="form-control" name="thanhVienHDId" hidden>
                    <div class="col-3">
                        <label class="text-white" for="">Điểm mục đích</label>
                        <input type="number" step="0.1" name="diemMucDich" 
                            class="form-control border-3 border-warning" required min="0" max="10">
                    </div>
                    <div class="col-3">
                        <label class="text-white" for="">Điểm nội dung</label>
                        <input type="number" step="0.1" name="diemNoiDung" 
                            class="form-control border-3 border-primary" required min="0" max="10">
                    </div>
                    <div class="col-3">
                        <label class="text-white" for="">Điểm ứng dụng</label>
                        <input type="number" step="0.1" name="diemUngDung" 
                            class="form-control border-3 border-danger" required min="0" max="10">
                    </div>
                   <div class="col-3">
                        <label class="text-white" for="">Điểm trình bày</label>
                        <input type="number" step="0.1" name="diemTrinhBay" 
                            class="form-control border-3 border-success" required min="0" max="10">
                   </div>
                   <div class="col-12 row mt-3">
                       <div class="col-8"></div>
                        <button type="submit" class="btn btn-primary col-4 me-0">Save</button>
                   </div>
                </form>
            </div>
            <%}%>
        <%if(typeof showDiemDaCham !=='undefined' ){%>
        <div class="  text-center  text-white bg-gradient  border border-light mt-3 p-2">
            <h4 class="text-white">Chấm điểm</h4>
            <form action="/edit-chitiet-chamdiem" method="post" class="row" >
                <input type="text" value="<%=showDiemDaCham[0].masangkien%>"  class="form-control " name="sangKienId" hidden>
                <input type="text" value="<%=showDiemDaCham[0].mathanhvien%>" class="form-control " name="thanhVienHDId" hidden>
                <div class="col-3">
                    <label class="text-white" for="">Điểm mục đích</label>
                    <input type="number" step="0.1" name="diemMucDich" 
                        class="form-control  border-3 border-warning" required min="0" max="10" 
                        value="<%=showDiemDaCham[0].diem_muc_dich.toFixed(2)%>"
                        >
                </div>
                <div class="col-3">
                    <label class="text-white" for="">Điểm nội dung</label>
                    <input type="number" step="0.1" name="diemNoiDung" 
                        class="form-control  border-3 border-primary" required min="0" max="10"
                        value="<%=showDiemDaCham[0].diem_noi_dung.toFixed(2)%>">
                </div>
                <div class="col-3">
                    <label class="text-white" for="">Điểm ứng dụng</label>
                    <input type="number" step="0.1" name="diemUngDung" 
                        class="form-control border-3 border-danger" required min="0" max="10"
                        value="<%=showDiemDaCham[0].diem_ung_dung.toFixed(2)%>">
                </div>
               <div class="col-3">
                    <label class="text-white" for="" >Điểm trình bày</label>
                    <input type="number" step="0.1" name="diemTrinhBay" 
                        class="form-control border-3 border-success" required min="0" max="10"
                        value="<%=showDiemDaCham[0].diem_trinh_bay.toFixed(2)%>">
               </div>
               <div class="col-12 row mt-3 p-0">
                   <div class="col-8"></div>
                    <button type="submit" class="btn btn-primary   col-4 me-0">Save</button>
               </div>
            </form>
        </div>
        <%}%>
        
    </div>





    <% if(nhanXet.length!==1){%>
    <div class="container-fluid ">
        <h4 class="text-white">Nhận xét</h4>
        <form action="/create-nhanxet" method="post">

            <input type="text"  value="<%=detailSangKien.masangkien%>"   name="maSangKien" class="form-control" readonly hidden>
            <input type="text"  value="<%=thanhVienHDDaDangNhap.mathanhvien%>"  name="maThanhVien" class="form-control" readonly hidden>
            <textarea type="text" name="nhanXet" class="form-control" rows="10" style="resize: none;"></textarea>
            <button type="submit" class="btn btn-primary mt-1">Save</button>
        </form>
    </div>
    <%} else {%>
    <div class="container-fluid">
        <h4 class="text-white">Nhận xét</h4>
        <form action="/edit-nhanxet" method="post">

            <input type="text"  value="<%=detailSangKien.masangkien%>"  name="maSangKien" class="form-control" readonly hidden>
            <input type="text"  value="<%=thanhVienHDDaDangNhap.mathanhvien%>"  name="maThanhVien" class="form-control" readonly hidden>
            <textarea type="text" name="nhanXet" class="form-control"  rows="10" style="resize: none;">
                <%=nhanXet[0].noidung%>
                </textarea> 
            <button type="submit" class="btn btn-primary mt-1">Save</button>
        </form>
    </div>
    <%}%>
    
    </body>
</html>
