<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        />
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        ></script>
        <!-- <script defer src="/src/showHideSideBar.js"></script> -->
        <link rel="stylesheet" href="/css/styles.css" />
        <title>Sửa thông tin hội đồng</title>
    </head>
    <body class="mycolor-gray">
        <% if(typeof(alert) !== 'undefined' && alert === "1") { %>
        <div
            class="alert alert-success alert-dismissible position-absolute"
            style="z-index: 1"
        >
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
            ></button>
            <strong>Success!</strong> Cập nhật thông tin thành công
        </div>
        <%}%> <%- include('navAndSidebar.ejs') -%>
        <div class="container-fluid mt-3">
            <div>
                <h4 class="text-white">Sửa thông tin</h4>
            </div>
        </div>
        <div class="container-fluid mt-3">
            <form action="/edit-hdkh" method="post">
                <input
                    type="text"
                    name="id"
                    value="<%= hDKH.mahoidong%>"
                    hidden
                />
                <div class="form-group">
                    <label for="nhiemVu" class="text-white"> Nhiệm vụ</label>
                    <textarea
                        name="nhiemVu"
                        id="nhiemVu"
                        cols="30"
                        rows="10"
                        class="form-control"
                        style="resize: none"
                    >
                    <%= hDKH.nhiemvu %>
                    </textarea>
                </div>
                <div class="form-group">
                    <label for="ngayThanhLap" class="text-white"
                        >Ngày thành lập</label
                    >
                    <input
                        type="date"
                        name="ngayThanhLap"
                        class="form-control"
                        required
                        value='<%=moment( hDKH.ngaythanhlap).format("YYYY-MM-DD")
                    %>'
                    />
                </div>
                <div class="form-group mt-2">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>

        <div class="container-fluid row pe-2">
            <div class="col-9"></div>
            <button
                type="button"
                class="btn btn-danger col-3"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
            >
                Kết thúc nhiệm kỳ
            </button>
        </div>

        <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Xác nhận hành động
                        </h5>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">
                        Bạn có muốn kết thúc nhiệm kỳ hội đồng hiện tại không ?
                    </div>
                    <div class="modal-footer">
                        <a
                            href="/change-status-hdkh?id=<%= hDKH.mahoidong%>"
                            class="btn btn-danger col-4"
                            >Kết thúc nhiệm kỳ</a
                        >
                        <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                        >
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
