<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
        />
       
        <title>Manage Account</title>
    </head>
    <body>
        <div class="container mt-3">
            <table class="table text-center">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Email</th>
                    <th scope="col">TenNhanVien</th>
                    <th scope="col">Quyen</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                    <% for(let i=0;i<allAccount.length;i++){%>
                  <tr>
                    <th scope="row"><%=i + 1 + page*perpage - perpage%></th>
                    <td><%=allAccount[i].tentaikhoan%></td>
                    <td><%=allAccount[i].tennhanvien%></td>
                    <td><%=allAccount[i].tenquyen%></td>
                    <td>
                        <a href="/get-edit-account?email=<%=allAccount[i].tentaikhoan%>" class="btn btn-primary btn-lg active ">Edit</a>
                        <!-- <a href="/delete-account?email=<%=allAccount[i].tentaikhoan%>" class="btn btn-secondary btn-lg active ">Delete</a> -->
                    </td>
                  </tr>
                  <%}%>
                </tbody>
              </table>

              <div>
                <nav aria-label="...">
                    <ul class="pagination">
                        <% if(page >1) {%> 
                            <li class="page-item">
                                <a  class="page-link" href="/manage-account?page=<%=page-1%>">Before</a> 
                            </li>
                        <%}%>
                        <% for(let i= iterator ; i<= endingLink ;i++) {%>
                            <% if(i===page){%>
                                <li class="page-item active">
                                    <a class="page-link" href="/manage-account?page=<%=i%>">
                                        <%=i%> 
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <% continue; %>
                            <%}%>
                            <li class="page-item ">
                                <a class="page-link"  href="/manage-account?page=<%=i%>"><%=i%></a>
                            </li>
                        <%}%>
                        <% if(page < numOfPages) {%> 
                            <li class="page-item">
                                <a  class="page-link" href="/manage-account?page=<%=page+1%>">After</a> 
                            </li>
                        <%}%>
                    </ul>
                </nav>
              </div>


             
                
                  

                 
              













              <a href="/get-create-account" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"> Add User</a>
        </div>
        
        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
