<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/scss/styles.scss">
    <title>Quản lý đợt sáng kiến</title>
</head>

<body>
    <div>
        <h1>Danh sách đợt sáng kiến</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Tên</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Ngày bắt đầu</th>
                    <th scope="col">Ngày kết thúc</th>
                    <th scope="col">Ngày hết hạn đăng ký</th>
                    <th scope="col">Hạn nộp</th>
                </tr>
            </thead>
            <tbody>
                <!-- dot sang kien -->
                <% let checkdot=true; %>
                    <% for( let i=0 ; i < dataSangkien.length; i++){ %>
                        <tr>
                            <th scope="row">
                                <%= dataSangkien[i].madotsangkien %>
                            </th>
                            <td>
                                <%= dataSangkien[i].tendotsangkien %>
                            </td>
                            <td>
                                <% if (dataSangkien[i].trangthai) { checkdot=false; %>
                                    <p>Đang tiến hành</p>
                                    <% }else { %>
                                        <p>Đóng</p>
                                        <% } %>

                            </td>
                            <td>
                                <%= moment(dataSangkien[i].ngaybatdau).format( 'DD/MM/YYYY' ) %>
                            </td>
                            <td>
                                <%= moment(dataSangkien[i].ngayketthuc).format( 'DD/MM/YYYY' ) %>
                            </td>
                            <td>
                                <%= moment(dataSangkien[i].ngaydungdangky).format( 'DD/MM/YYYY' ) %>
                            </td>
                            <td>
                                <%= moment(dataSangkien[i].hannop).format( 'DD/MM/YYYY' ) %>
                            </td>
                        </tr>
                        <% } %>
            </tbody>
        </table>
        <% if (checkdot){%>
            <h1>Thêm mới Đợt sáng kiến</h1>
            <form action="/adddotsangkien" method="post">
                <div class="form-group">
                    <label>Tên Đợt</label>
                    <input type="text" name="tendotsangkien" maxlength="255" class="form-control" value="">
                    <label>Ngày bắt đầu</label>
                    <input type="date" name="ngaybatdau" min="<% =moment().utcOffset('+0700').format('YYYY-MM-DD'); %>"
                        max="2025-01-01" class="form-control" value="">
                    <label>Ngày kết thúc</label>
                    <input type="date" name="ngayketthuc" min="<% =moment().utcOffset('+0700').format('YYYY-MM-DD'); %>"
                        max="2025-01-01" class="form-control" value="">
                    <label>Ngày kết thúc đăng ký sáng kiến</label>
                    <input type="date" name="ngaydungdangky"
                        min="<% =moment().utcOffset('+0700').format('YYYY-MM-DD'); %>" max="2025-01-01"
                        class="form-control" value="">
                    <label>Hạn nộp bản báo cáo</label>
                    <input type="date" name="hannop" class="form-control"
                        min="<% =moment().utcOffset('+0700').format('YYYY-MM-DD'); %>" max="2025-01-01" value="">
                    <!-- submit -->
                    <button type=" submit" class="btn btn-primary">Submit</button>
                </div>

            </form>
            <% }else{ %>
                <a href="/editdotsangkien">Chỉnh sửa đợt sáng kiến</a>
                <%} %>
                    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                        crossorigin="anonymous"></script>
                    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
                        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                        crossorigin="anonymous"></script>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
                        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                        crossorigin="anonymous"></script>
    </div>
</body>

</html>