<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script defer src="/src/showHideSideBar.js"></script> -->
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Trạng thái sáng kiến</title>
</head>

<body>
    <%- include('navAndSidebar') -%>
        <div>
            <h1>Danh sách trạng thái sáng kiến</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Mô tả trạng thái</th>
                        <th scope="col" width="6%">Tác vụ</th>
                    </tr>
                </thead>
                <tbody>
                    <% for( let i=0 ; i < dataTrangthaisangkien.length; i++){ %>
                        <tr>
                            <th scope="row">
                                <%= i +1 %>
                            </th>
                            <td>
                                <%= dataTrangthaisangkien[i].tentrangthai %>
                            </td>
                            <td>
                                <%= dataTrangthaisangkien[i].motatrangthai %>
                            </td>
                            <td><a href="/quanlytrangthaisangkien/sua/<%= dataTrangthaisangkien[i].matrangthai %>"
                                    class="btn btn-primary" target="_self" title="Sửa trạng thái sáng kiến"><i
                                        class="fa-solid fa-pen"></a></td>
                        </tr>
                        <% } %>
                </tbody>
            </table>

            <!-- <h1>Thêm mới trạng thái sáng kiến</h1>
        <form action="/addtrangthaisangkien" method="post">
            <div class="form-group">
                <label>Tên trạng thái sáng kiến</label>
                <input type="text" name="tentrangthai" maxlength="100" class="form-control" value="">
                <label for="">Mô tả trạng thái</label>
                <textarea name="motatrangthai" class="form-control" id="" cols="30" rows="10"></textarea>
                <button type=" submit" class="btn btn-primary">Submit</button>
            </div>

        </form> -->
        </div>
</body>

</html>