<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script defer src="/src/showHideSideBar.js"></script> -->
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Danh sách nhân viên</title>
</head>

<body>
    <%- include('navAndSidebar') -%>
        <div class="container-fluid row" style="margin-top: 10px;">
            <div class="col-6">
                <h1>Danh sách nhân viên</h1>
            </div>
            <div class="col-6">
                <button onclick="myfunc()" class="btn btn-primary btn-lg float-end" id="themnhanvien"
                    title="Thêm nhân viên" style="height: 50px; width: 50px;"><i class="fa-solid fa-plus"></i></button>
            </div>

        </div>
        <div class="container">
            <div id="themmoinhanvien" style="display: none;">
                <form action="/addnhanvien" method="post">
                    <div class="form-group">
                        <!-- Phòng ban -->
                        <label>Phòng ban</label>
                        <select name="maphongban" class="form-control" required>
                            <% for (let i=0; i<dataPhongban.length;i++){ %>
                                <%if (chekgiamdoc.soluong>0 && chekphogiamdoc.soluong>0 &&
                                    dataPhongban[i].maphongban==1){continue;} %>
                                    <option value="<%=dataPhongban[i].maphongban%>">
                                        <%=dataPhongban[i].tenphongban%>
                                    </option>
                                    <% } %>
                        </select>
                        <!-- chức vụ -->
                        <label>Chức vụ</label>
                        <select name="machucvu" class="form-control" required>
                            <% for (let i=0; i<dataChucvu.length;i++){ %>
                                <% if (dataChucvu[i].machucvu==1) {if (chekgiamdoc.soluong>0){continue;}} %>
                                    <%if (dataChucvu[i].machucvu==2) {if (chekphogiamdoc.soluong>0){continue;}} %>
                                        <option value="<%=dataChucvu[i].machucvu%>">
                                            <%=dataChucvu[i].tenchucvu%>
                                        </option>
                                        <% } %>
                        </select>
                        <br>
                        <!-- Trình độ  -->
                        <label>Trình độ học vấn</label>
                        <input type="text" name="trinhdohocvan" id="trinhdohocvan" class="form-control" value=""
                            required>
                        <!-- Tên nhân viên  -->
                        <label>Tên nhân viên</label>
                        <input type="text" name="tennhanvien" id="tennhanvien" class="form-control" value="" required>
                        <!-- Giới tính  -->
                        <label>Giới tính</label>
                        <select name="gioitinh" class="form-control" required>
                            <option value="1">Nam</option>
                            <option value="0">Nữ</option>
                        </select>
                        <!-- Năm sinh  -->
                        <label>Ngày sinh</label>
                        <input type="date" name="ngaysinh" id="ngaysinh" class="form-control" min="1950-01-01"
                            max="2006-01-01" value="" required>
                        <!-- Ngày vào làm  -->
                        <label>Ngày vào làm</label>
                        <% let currentDate=moment().utcOffset('+0700').format('YYYY-MM-DD'); %>
                            <input type="date" name="ngayvaolam" id="ngayvaolam" class="form-control" min="2000-01-01"
                                max="<%= currentDate %>" value="" required>
                            <!-- Số điện thoại  -->
                            <label>Số điện thoại</label>
                            <input type="text" name="sdt" id="sdt" class="form-control" value="" maxlength="10"
                                minlength="10" required>
                            <!-- Submit -->
                            <%if(typeof(alert)!=='undefined') { if(alert==='1' ){%>
                                <p style="color: red;"><strong>Warning!</strong> Sai định dạng số điện thoại</p>
                                <!-- <script>window.onload = myfunc()</script> -->
                                <%} if(alert==='2' ) {%>
                                    <p style="color: red;"><strong>Warning!</strong>Ngày sinh hoặc ngày vào làm có lỗi
                                        (nhân viên vào làm lớn hơn 18 tuổi)
                                    </p>
                                    <% }if(alert==='3' ) {%>
                                        <script>sessionStorage.clear();</script>
                                        <%}}%>
                                            <br>
                                            <button type=" submit" class="btn btn-primary">Xác nhận</button>
                                            <script>
                                                let trinhdohocvan = document.getElementById('trinhdohocvan');
                                                let tennhanvien = document.getElementById('tennhanvien');
                                                let ngaysinh = document.getElementById('ngaysinh');
                                                let ngayvaolam = document.getElementById('ngayvaolam');
                                                let sdt = document.getElementById('sdt');
                                                trinhdohocvan.value = sessionStorage.getItem('trinhdohocvan');
                                                tennhanvien.value = sessionStorage.getItem('tennhanvien');
                                                ngaysinh.value = sessionStorage.getItem('ngaysinh');
                                                ngayvaolam.value = sessionStorage.getItem('ngayvaolam');
                                                sdt.value = sessionStorage.getItem('sdt');
                                                trinhdohocvan.addEventListener('change', updateSessionNhanvien);
                                                tennhanvien.addEventListener('change', updateSessionNhanvien);
                                                ngaysinh.addEventListener('change', updateSessionNhanvien);
                                                ngayvaolam.addEventListener('change', updateSessionNhanvien);
                                                sdt.addEventListener('change', updateSessionNhanvien);
                                                function updateSessionNhanvien() {
                                                    sessionStorage.setItem('trinhdohocvan', trinhdohocvan.value);
                                                    sessionStorage.setItem('tennhanvien', tennhanvien.value);
                                                    sessionStorage.setItem('ngaysinh', ngaysinh.value);
                                                    sessionStorage.setItem('ngayvaolam', ngayvaolam.value);
                                                    sessionStorage.setItem('sdt', sdt.value);
                                                }
                                            </script>
                    </div>
                </form>
            </div>
            <div class="addnhieunhanvien">
                <form action="/addnhieunhanvien" method="post" enctype="multipart/form-data">
                    <input type="file" name="profile_file" />
                    <button type="submit" class="btn btn-primary">Thên nhiều nhân viên</button>
                </form>
            </div>
        </div>
        <script language="javascript">
            function myfunc() {
                if (document.getElementById("themmoinhanvien").style.display == 'none') {
                    document.getElementById("themmoinhanvien").style.display = 'block';
                    document.getElementById("themnhanvien").title = "Ẩn thêm nhân viên"
                }
                else {
                    document.getElementById("themmoinhanvien").style.display = 'none';
                    document.getElementById("themnhanvien").title = "Thêm nhân viên"
                }
            }

        </script>
        </div>
        <br>
        <!-- Tim kiem------------------ -->
        <div id="search" class="container">
            <form action="/quanlynhanvien" method="get">
                <div class="row">
                    <div class="col-3">
                        <select name="searchPhongban" class="form-select">
                            <option value="" selected>Chọn phòng ban</option>
                            <% for (let i=0; i<dataPhongban.length;i++){ %>
                                <option value="<%=dataPhongban[i].maphongban%>">
                                    <%=dataPhongban[i].tenphongban%>
                                </option>
                                <% } %>
                        </select>
                    </div>
                    <div class="col-3">
                        <select name="searchChucvu" class="form-select">
                            <option value="" selected>Chọn chức vụ</option>
                            <% for (let i=0; i<dataChucvu.length;i++){ %>
                                <option value="<%=dataChucvu[i].machucvu%>">
                                    <%=dataChucvu[i].tenchucvu%>
                                </option>
                                <% } %>
                        </select>
                    </div>
                    <div class="col-3">
                        <input type="text" name="search" class="form-control" placeholder="Nhập tên nhân viên">
                    </div>
                    <div class="col-3">
                        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                    </div>
                </div>
            </form>
        </div>
        <br>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Họ tên</th>
                        <th scope="col">Phòng ban</th>
                        <th scope="col">Chức vụ</th>
                        <th scope="col">Trình độ học vấn</th>
                        <th scope="col">Giới tính</th>
                        <th scope="col">Năm sinh</th>
                        <th scope="col">sdt</th>
                        <th scope="col">Ngày vào làm</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col" width="6%">Tác vụ</th>
                    </tr>
                </thead>
                <tbody>
                    <% for( let i=0 ; i < dataNhanvien.length; i++){ %>
                        <tr>
                            <th scope="row">
                                <%= dataNhanvien[i].manhanvien %>
                            </th>
                            <td>
                                <%= dataNhanvien[i].tennhanvien %>
                            </td>
                            <td>
                                <%= dataNhanvien[i].tenphongban %>
                            </td>
                            <td>
                                <%= dataNhanvien[i].tenchucvu %>
                            </td>
                            <td>
                                <%= dataNhanvien[i].trinhdohocvan %>
                            </td>
                            <td>
                                <% if (dataNhanvien[i].gioitinh==true){%>
                                    Nam
                                    <% } else { %>
                                        Nữ
                                        <% } %>
                            </td>
                            <td>
                                <%= moment(dataNhanvien[i].ngaysinh).format( 'DD-MM-YYYY' ) %>
                            </td>
                            <td>
                                <%= dataNhanvien[i].sdt %>
                            </td>
                            <td>
                                <%= moment(dataNhanvien[i].ngayvaolam).format( 'DD-MM-YYYY' ) %>
                            </td>
                            <td>
                                <% if (dataNhanvien[i].trangthai==true){%>
                                    Còn làm
                                    <% } else { %>
                                        Nghỉ việc
                                        <% } %>
                            </td>
                            <td><a href="/quanlynhanvien/sua/<%= dataNhanvien[i].manhanvien %>" class="btn btn-primary"
                                    target="_self" title="Sửa nhân viên"><i class="fa-solid fa-pen"></i></a></td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
</body>

</html>